footer {
    background-color: white;
}

.footer__section {
   
    width: 100%;
    padding-top: 50px;
}

footer section{
    text-align: center;
   margin: 0 40px 50px;
    
}

footer section i{
    color: var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

footer section h4{
    margin: 0 ;
}

footer section p{
    margin: 0 ;
}

.footer__copyrigth{
    margin: 0px 0 10px 0px;
    padding-bottom: 10px;
    font-size: 13px;
    text-align: left;
}