header{
    background-color: var(--Amarillo);
}

.header__busqueda{
    margin-top: 15px;
    margin-left: 30px;
}

.header__titulo{
    margin-left: 55px;

}

.header__enlaces{
    padding: 0; 

}

.header__burger{
    display: block;
    padding: 15px ;
    background-color: var(--Celeste);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    margin: 15px auto 30px;
    
}