header{
    background-color: var(--Amarillo);
}

.header__busqueda{
    margin-top: 15px;
    margin-left: 30px;
}

.header__titulo{
    margin-left: 55px;
}

.header__enlaces{
    padding: 0; 
}

.header__burger{
    padding: 15px ;
    background-color: var(--Celeste);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 30px;
    margin: 20px 45% 25px;
}