
.main__baner {
    width: 100%;
    margin-top: -16px;
    
 }

/* main */
.main__box {
    width: 90%;
    margin: 0 auto;
    
}

.main__box-section {
    width: 100%;
    margin:0 auto ;
    
}

.main__box-article {
    width: 100%;
    margin: 0 auto 10px;
    background-color: white;
}

.main__article-image {
    width: 100%;
}

.main__titulares {
    font-size: 24px;
    text-align: center;
}

.main__box-descripcion {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
}

.main__box-precio-descuento {
    display: flex ;
}

.descripcion  {
    display: none;
    font-size: 16px;
}

.descuento {
    font-size: 16px;
    color: var(--Verde);
    margin: 0;
    width: 70%;
    margin: 3px 0 3px 0;
    }

.precio {
    margin: 3px 0 3px 0;
    width: 30%;

}

.fa-truck {
    color: var(--Verde);
    font-size: 13px;
    border:  solid 1px green;
    border-radius: 50%; 
    padding: 4px;
    position: absolute;
    right: 20px;
    top: -14px;
}

      /* tablet */ 
 @media (min-width: 425px) {

    .descripcion  {
        font-size: 16px;
        display: block;
    }

    .main__box-article {
        
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 46%;
        
    }

    .main__box-article-tablet {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

}   
 

/* desktop */
@media (min-width: 768px) {
    .main__box-article {
       
        width: 23%;
        
    }

}